.gallery {
  @include list;
  margin-bottom: 25px;
  position: relative;
  display: block;
}

.gallery__item {
  margin: 0 5px;
}

.gallery__link,
.gallery .slick-slide {
  display: inline-block;
}

.gallery .slick-list {
  overflow: hidden;
}

.gallery .slick-track {
  min-width: 0;
  display: flex;
}

.gallery .slick-slide {
  width: 300px;
  min-height: 550px;
}

.gallery .slick-arrow {
  font-size: 0;
  @include button;
  position: absolute;
}

.gallery .slick-arrow.slick-disabled {
	opacity: 0.2;
}

.gallery__image {
  display: inline-block;
  margin-bottom: 5px;
}

.gallery__title {
  width: 85%;
  margin: 0;
  margin-bottom: 7px;
  text-align: left;
  font-family: $font-important;
  font-size: 24px;
  line-height: 24px;
  color: $gold
}

.gallery__lead {
  margin: 0;
  text-align: left;
  color: $grey;
}

.gallery .slick-dots{
  width: 100%;
  @include list;
	display: flex;
	align-items: center;
	justify-content: center;
  margin-bottom: 15px;
}

.gallery .slick-dots li{
	margin: 0 10px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.gallery .slick-dots li.slick-active button{
	background-color: $gold;
}

.gallery .slick-dots button{
  @include button;
	font-size: 0;
	width: 12px;
	height: 12px;
	background-color: $lite-grey;
	border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .gallery {
    margin-bottom: 25px;
  }

  .gallery .slick-slide,
  .gallery__wrapper {
    width: 270px;
    min-height: 600px;
  }

  .gallery__title {
    width: 95%;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    margin-bottom: 40px;
  }

  .gallery__item {
    margin-left: 5px;
  }

  .gallery__wrapper {
    min-height: 615px;
  }

  .gallery .slick-arrow {
    z-index: 10;
    width: 16px;
    height: 16px;
    top: 192px;
    border-top: 2px solid #A89365;
  }

  .gallery .slick-prev.slick-arrow {
    border-left: 2px solid #A89365;
    transform: rotate(-45deg);
    left: -10px;
  }

  .gallery .slick-next.slick-arrow {
    border-right: 2px solid #A89365;
    transform: rotate(45deg);
    right: 10px;
  }

  .gallery__image {
    margin-bottom: 12px;
  }

  .gallery__title {
    margin-bottom: 20px;
  }
}

@media (min-width: $full-desktop-width) {
  .gallery {
    margin-bottom: 35px;
  }

  .gallery__item {
    margin-left: 5px;
  }

  .gallery__wrapper {
    width: 410px;
    min-height: 800px;
  }

  .gallery .slick-arrow {
    width: 24px;
    height: 24px;
    top: 258px;
  }

  .gallery .slick-prev.slick-arrow {
    left: -23px;
  }

  .gallery .slick-next.slick-arrow {
    right: 0;
  }

  .gallery__image {
    margin-bottom: 15px;
  }

  .gallery__title {
    width: 85%;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .gallery__lead {
    font-size: 20px;
    line-height: 30px;
  }
}
