html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Futura PT Bold";
  font-weight: 700;
  src: url("../fonts/futura_pt_bold.woff2") format("woff2"),
    url("../fonts/futura_pt_bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT Regular";
  font-weight: 400;
  src: url("../fonts/futura_pt_book.woff2") format("woff2"),
    url("../fonts/futura_pt_book.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT Extra Bold";
  font-weight: 800;
  src: url("../fonts/futura_pt_extra_bold.woff2") format("woff2"),
    url("../fonts/futura_pt_extra_bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@import "variables.scss";
@import "mixins.scss";
@import "blocks/page.scss";
@import "blocks/container.scss";
@import "blocks/section.scss";
@import "blocks/gallery.scss";
@import "blocks/slider.scss";
