// Fonts

$font-important: "Futura PT Bold", Arial Bold, sans-serif;
$font-important-big: "Futura PT Extra Bold", Arial Bold, sans-serif;
$font-usual: "Futura PT Regular", Arial, sans-serif;


// Color

$white: #ffffff;
$grey: #575757;
$gold: #A89365;
$lite-grey: #F2F2F2;

// Breakpoints

$tablet-width: 600px;
$desktop-width: 1280px;
$full-desktop-width: 1920px;
